/target
/lib
/classes
/checkouts
/node_modules
/session
/watch
mtorrent.js
pom.xml
pom.xml.asc
.vagrant
*.jar
*.class
.lein-deps-sum
.lein-failures
.lein-plugins
.lein-repl-history
libtorrent-rasterbar-*
/npm-debug.log
/libtorrent-rasterbar.so.7
/libtorrent-rasterbar.so.7.0.0
/mtorrent-node.tar.gz
/mtorrent-node.tar
